.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
}
label {
  margin: 10px;
}
.error {
  margin: 30px;
  width: 200px;
  height: 50px;
  background-color: chocolate;
}
.box {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}
